@import "./markdown.css";
@require "twindy";

tw-reset();

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #fefefe;
  color: -gray-900;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: serif;
  font-size: 16;
}

a {
  color: -blue-700;

  &:hover, &:active {
    color: -blue-500;
  }
}

#app {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.app-header, .app-footer, .app-content {
  padding-x: 32;
  margin-x: auto;
  max-width: 800;
}

.app-header {
  font-family: sans;
  padding-y: 32;
  line-height: px(24);
  color: -gray-900;
  use: stack-x;

  img {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 8;
  }

  &-title {
    use: grow;
    font-size: 24;
    font-weight: 700;
  }

  a {
    color: -gray-900;
    display: flex;

    &.app-header-locale {
      display: block;
      background: -gray-200;
      color: -gray-400;
      font-weight: 400;
      padding-x: 8;
      border-radius: 8;
      font-size: 14;
      margin-left: 8;

      &:hover {
        background: -gray-300;
      }

      .active {
        color: -gray-800;
      }
    }

    &.app-header-menu {
      margin-x: 8;
      font-size: 14;
      font-weight: 700;

      &.router-link-active {
        color: -gray-700;
      }

      color: -gray-500;

      &:hover {
        color: -gray-700;
      }
    }
  }
}

.app-footer {
  font-family: sans;
  font-size: 14;
  padding-y: 32;
  padding-top: 64;
  opacity: 0.8;

  // color: -gray-700;
  a {
    color: -blue-900;
  }
}

.prose {
  use: prose;
  line-height: 1.4;
}

.email {
  padding-y: 24;
  margin-x: auto;
}

.project {
  &-list {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(240px, 1fr)
    );
    gap: px(16);
  }

  &-card {
    min-width: 240px;
    padding: 16;
    background: -gray-100;
    border-radius: 8;

    &:hover {
      background: -gray-200;
    }
  }

  &-title {
    font-family: sans;
    font-weight: 600;
  }

  &-description {
    margin-top: 4;
    color: -gray-800;
    font-style: italic;
  }

  &-url {
    margin-top: 4;
  }

  &-tags {
    font-family: sans;
    margin-top: 4;
    line-height: px(14);

    &-item {
      color: white;
      background: -gray-500;
      padding: 4 8;
      border-radius: 4;
      display: inline-block;
      font-size: 12;
      margin-top: 4;
      margin-right: 4;

      // font-weight: 600;
      &:before {
        content: "#";
      }
    }
  }
}